.outerDiv{
    width: 100%;
    height: 70px;
    color: var(--white-4);
    background-color: var(--grey-3);
}

.innerDiv{
    width: 100%;
    height: 100%;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    font-size: var(--fs2);
    font-weight: var(--fb7);
    cursor: pointer;
}

.menuIcon{
    cursor: pointer;
    display: none;
}

.menu{
    padding: 0;
    margin:0;
    display: flex;
    list-style: none;
    font-size: var(--fs1);
}

.tab{
    margin: 10px;
    cursor: pointer;
}