.outerDiv{
    width: 100%;
    height: auto;
    z-index: 1000;
    position: relative;
    bottom: 0;
}

.innerDiv{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.creditLine{
    color: var(--whitish);
}

.creditLine a{
    font-size: var(--fs015);
    margin: 0 5px;
    text-decoration: none;
    transition: 0.5s;
}

.creditLine a:hover{
    transition: 0.5s;
    color: var(--crimsion-color);
}

@media only screen and (max-width: 450px){
    .creditLine, .creditLine a{
        font-size: 0.8rem;
    }
}